<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <connectionStrings>
    <!-- local
    <add name="DataItemContext" providerName="System.Data.SqlClient" connectionString="Server=.\SQL2008;Database=AskBargains;Persist Security Info=True;User ID=RW_User;Password=Welcome_123" />
    -->
    <!--AskBargains.com-->
    <add name="DataItemContext" providerName="System.Data.SqlClient" connectionString="Server=dbaskbargains.db.5021019.hostedresource.com;Database=dbaskBargains;Persist Security Info=True;User ID=dbaskbargains;Password=Uwspstar2012"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="AskBargainsService_DataService_Behavior" name="AskBargainsServices.ServiceImplementation.DataService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicBinding" bindingNamespace="http://www.AskBargains.com/2012/ServiceModel" contract="AskBargainsServices.ServiceContracts.IDataService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="AskBargainsService_DataService_Behavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicBinding"
						 hostNameComparisonMode="StrongWildcard"
						 receiveTimeout="00:30:00"
						 sendTimeout="00:30:00"
						 openTimeout="00:30:00"
						 closeTimeout="00:30:00"
						 maxReceivedMessageSize="2147483647"
						 maxBufferSize="2147483647"
						 maxBufferPoolSize="2147483647"             
						 transferMode="Buffered"
						 messageEncoding="Text"
						 textEncoding="utf-8"
						 bypassProxyOnLocal="false"
						 useDefaultWebProxy="true" >
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "c:\log\Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.\SQLEXPRESS; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>