<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
  
    <add name="DataItemContext" providerName="System.Data.SqlClient" connectionString="Server=.\SQL2008;Database=AskBargains;Persist Security Info=True;User ID=RW_User;Password=Welcome_123" />

    <!-- local 
    <add name="DataItemContext" providerName="System.Data.SqlClient" connectionString="Server=dbaskbargains.db.5021019.hostedresource.com;Database=dbaskBargains;Persist Security Info=True;User ID=dbaskbargains;Password=Uwspstar2012" />
    -->
 </connectionStrings>
</configuration>