<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDataService" />
            </basicHttpBinding>
        </bindings>
        <client>
          
          <!-- Local host address 
            <endpoint address="http://localhost/AskBargainsServices/DataService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataService"
                contract="DataService.IDataService" name="BasicHttpBinding_IDataService" />-->
          <!-- Askbargains.com address -->
          <endpoint address="http://askbargains.com/AskBargainsServices/DataService.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataService"
              contract="DataService.IDataService" name="BasicHttpBinding_IDataService" />
              
        </client>
    </system.serviceModel>
</configuration>