<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDataFeedService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5147/DataFeedService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataFeedService"
                contract="DataFeedService.IDataFeedService" name="BasicHttpBinding_IDataFeedService" />
        </client>
    </system.serviceModel>
</configuration>